
  <div class="container" ng-controller="editCtrl" ng-init="showPost()">

          <form >
                 
              <div class="form-group">
                <label for="category">Title</label>
                <input type="text" class="form-control" ng-model="post.title" value="post.title">
              </div>
                
              <div class="form-group">
                <label for="category">Category</label>
                <input type="text" class="form-control" ng-model="post.category.name" value="post.category.name" >
              </div>

              <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control " ng-model="post.content" rows="5" id="comment" value="post.content"></textarea>
              </div>
              

               <input type="submit"  ng-click="updatePost(post.id)" ng-href="#!/viewpost" name="commit" class="btn-block btn btn-success" value="Submit"> 
          
          </form>   

</div> 
    <ul class="pager">
    <li><a href="#!/viewpost">Previous</a></li>
    </ul>

