<!-- <div class="container" ng-app="tabular" ng-controller="signInCtrl">
  <div class="row">
      <br>
      <div class="form-wrap">
               
          <div class="form-container">
            <form autocomplete="off">
              <div class="form-group">
                <input type="email" ng-model="user.email" class="form-control" placeholder="Email Address">
              </div>
              <div class="form-group">
                <input type="password" ng-model="user.password"class="form-control" placeholder="Password">
              </div>
              <br>
              <input type="submit" ng-click="signInUser(user)" name="commit" class="btn-block btn btn-danger" value="Sign in">
            </form>
          </div>
      </div> 
    </div> 
  </div> 
</div> -->

<div class="container" ng-app="tabular" ng-controller="signInCtrl">
<div class="wrapper fadeInDown">
   <div id="formContent">

    <!-- Tabs Titles -->
    <h2 class="active">Sign In</a></h2>
    <!-- <h2 class="inactive underlineHover"><Sign Up </a></h2>  -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div> 

    <!-- Login Form -->
    <!-- <form autocomplete="off">
      <input type="email" ng-model="user.email" id="login" class="fadeIn second" name="login" placeholder="Email">
      <input type="password"  ng-model="user.password" id="password" class="fadeIn third" name="login" placeholder="Password">
      <input type="submit" ng-click="signInUser(user)" class="btn-block btn btn-danger" value="Sign In">
    </form>  -->
         <div class="form-wrap">
               
          <div class="form-container">
            <form autocomplete="off">
              <div class="form-group">
                <input type="email" ng-model="user.email" class="form-control" placeholder="Email Address">
              </div>
              <div class="form-group">
                <input type="password" ng-model="user.password"class="form-control" placeholder="Password">
              </div>
              <br>
              <input type="submit" ng-click="signInUser(user)" name="commit" class="btn-block btn btn-success" value="Sign in">
            </form>
          </div> 
   
    
    <!-- Remind Passowrd -->
    <div id="formFooter">
       <a class="underlineHover" href="#!/signup">Create Account</a> 
    </div>   
  

  </div>  
</div>
</div>   